<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/index.css">
  <script src="../js/vue (1).js"></script>
  <script src="../js/animate.js"></script>
  <script src="../js/轮播图.js"></script>
</head>
<body>
  <div id="app">
    <div class="nav">
      <div class="top-nav"></div>
      <div class="buttom-nav">
        <ul class="left-nav">
          <li><a href="">小米商城</a></li>
          <li><a href="./agreement.html">协议规则</a></li>
          <li><a href="./certificate.html">资质证照</a></li>
          <li><a href="./download.html">下载app</a></li>
        </ul>
        <ul class="right-nav">
          <li><a href="./submition.html">购物车</a></li>
          <li><a href="">登录</a></li>
          <li><a href="">注册</a></li>
        </ul>
      </div>
    </div>
    <div class="head">
      <div class="container">
        <div class="header-logo">
          <div class="logo-left"></div>
          <a href="index.html"></a>
          <div class="logo-right"></div>
        </div>
      </div>
      <div class="head-nav">
          <ul>
            <li v-for="i in headNav"><a href="">{{i.name}}</a></li>
          </ul>
      </div>
      <div class="head-search">
        <input type="text" placeholder="电视" />
        <div class="search-button"></div>
      </div>
      <div class="head-select">
        <div class="head-item">
          <ul>
            <li v-for="item in mobile1">
              <img src="../img/mobile.webp" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
        <div class="head-item">
          <ul>
            <li v-for="item in mobile2">
              <img src="../img/mobile2.webp" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
        <div class="head-item">
          <ul>
            <li v-for="item in TV">
              <img src="../img/TV.webp" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
        <div class="head-item">
          <ul>
            <li v-for="item in PC">
              <img src="../img/PC.webp" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
        <div class="head-item">
          <ul>
            <li v-for="item in furniture">
              <img src="../img/funiture.png" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
        <div class="head-item">
          <ul>
            <li v-for="item in router">
              <img src="../img/router.webp" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
        <div class="head-item">
          <ul>
            <li v-for="item in intelligent">
              <img src="../img/it.webp" height="120px" alt="">
              <div class="head-item-name">{{item.name}}</div>
              <div class="head-item-price">{{item.price}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="lun">
        <div class="left-banner">
          <ul id="left-list">
            <li><a>电视</a></li>
            <li><a>手机</a></li>
            <li><a>家电</a></li>
            <li><a>笔记本</a></li>
            <li><a>耳机</a></li>
            <li><a>箱包</a></li>
            <li><a>电视</a></li>
            <li><a>电视</a></li>
            <li><a>电视</a></li>
            <li><a>电视</a></li>
          </ul>
        </div>
        <a href="javascript:;" class="l"></a>
        <a href="javascript:;" class="r"></a>
        <ul class="lun-ul">
            <li><a href="#"><img src="../img/mi1.jpeg" width="1226px" alt=""></a></li>
            <li><a href="#"><img src="../img/mi2.jpeg" width="1226px" alt=""></a></li>
            <li><a href="#"><img src="../img/mi3.webp" width="1226px" alt=""></a></li>
            <li><a href="#"><img src="../img/mi4.webp" width="1226px" alt=""></a></li>
        </ul>
        <ol>
            
        </ol>
        <div class="right-banner">
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerTV">
                <img src="../img/TV.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerMobile">
                <img src="../img/mobile2.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerF">
                <img src="../img/funiture.png" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerPC">
                <img src="../img/PC.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerEar">
                <img src="../img/bannerear.jpg" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerBag">
                <img src="../img/bannerbag.jpg" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerTV">
                <img src="../img/TV.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerTV">
                <img src="../img/TV.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerTV">
                <img src="../img/TV.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
          <div class="banner-item">
            <ul>
              <li v-for="i in bannerTV">
                <img src="../img/TV.webp" width="40px" alt="">
                <span>{{i}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="left-main">
        <ul>
          <li v-for="i in mianList">
            <a href="">
              <img src="../img/精灵图.png" alt="">
            <span>{{i}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="f-main"><a href="./commodity.html"><img src="../img/fmian.jpg" alt=""></a></div>
      <div class="s-main"><a href="./mobile.html"><img src="../img/smain.jpg" alt=""></a></div>
      <div class="t-main"><a href="./watch.html"><img src="../img/tmain.jpg" alt=""></a></div>
    </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        headNav: [
          {
            name: '小米手机',
            type: 'mobile1'
          },
          {
            name: 'Redmi红米',
            type: 'mobile2'
          },
          {
            name: '电视',
            type: 'TV'},
          {
            name: '笔记本',
            type: 'PC'},
          {
             name: '家电',
            type: 'furniture'},
          {
            name: '路由器',
            type: 'router'},
          {
            name: '智能硬件',
            type: 'intelligent'
          },
            ],
        mobile1: [ 
          {
            name: '小米11',
            price: '1999元起'
          },
          {
            name: '小米10至尊纪念版',
            price: '5299元起'
          },
          {
            name: '小米10',
            price: '3799元起'
          },
          {
            name: '小米10青春版',
            price: '3799元起'
          },
          {
            name: '小米Max',
            price: '19999元起'
          }],
        mobile2: [
        {
            name: 'Redmi Note9系列',
            price: '999元起'
        },
        {
            name: 'Redmi K30s至尊纪念版',
            price: '2599元起'
        },
        {
            name: 'Redmi K30至尊纪念版',
            price: '1999元起'
        },
        {
            name: 'Redmi 9A',
            price: '599元起'
        },
        {
            name: 'Redmi K30系列',
            price: '1299元起'
        },
        {
            name: 'Redmi X10系列',
            price: '1299元起'
        },
        ],
        TV: [
        {
            name: '小米电视大师 82英寸至尊纪念版',
            price: '49999元起'
        },
        {
            name: '小米电视大师 82英寸',
            price: '9999元起'
        },
        {
            name: '小米透明电视',
            price: '49999元起'
        },
        {
            name: '小米电视大师 65英寸OLED',
            price: '9999元起'
        },
        {
            name: 'Redmi 智能电视 MAX 98',
            price: '19999元起'
        },
        {
            name: '小米电视4A 60英寸',
            price: '2399元起'
        },
        ],
        PC: [
        {
            name: 'Redmi G 游戏本',
            price: ''
        },
        {
            name: 'RedmiBook 16',
            price: '4499元起'
        },
        {
            name: 'RedmiBook 14 Ⅱ',
            price: '3199元起'
        },
        {
            name: 'Pro 15.6 2020款',
            price: '5999元起'
        },
        {
            name: 'Redmibook Air 13',
            price: '4499元起'
        },
        {
            name: '显示器',
            price: '2199元起'
        },
        ],
        furniture: [
        {
            name: '米家互联网空调C1(一级能效)',
            price: '2199元'
        },
        {
            name: '米家互联网空调(一级能效)',
            price: '2199元'
        },
        {
            name: '米家互联网洗烘一体机10kg',
            price: '1899元'
        },
        {
            name: '米家风冷对开门冰箱 485L',
            price: '2199元'
        },
        {
            name: '米家两门冰箱 160L',
            price: '899元'
        },
        ],
        router: [
        {
            name: '小米路由器AX6000',
            price: '599元'
        },
        {
            name: 'Redmi路由器 AX6',
            price: '299元'
        },
        {
            name: 'Redmi路由器 AX5',
            price: '199元'
        },
        {
            name: '小米路由器 AX1800',
            price: '299元'
        },
        {
            name: '小米AloT路由器AX3600',
            price: '499元'
        },
        {
            name: 'Redmi路由器AC2100',
            price: '149元'
        },
        ],
        intelligent: [
        {
            name: '小米全自动智能门锁',
            price: '1699元'
        },
        {
            name: 'Redmi小爱触屏音箱Pro8',
            price: '399元'
        },
        {
            name: '小米小爱触屏音箱',
            price: '169元'
        },
        {
            name: 'Redmi小爱音箱 Play',
            price: '79元'
        },
        {
            name: '小米小爱老师',
            price: '799元'
        },
        {
            name: '查看全部',
            price: '智能硬件'
        },
        ],
        bannerTV: [
        '小米透明电视','小米电视5Pro 55英寸','小米电视5 65英寸','Redmi 智能电视 A系列','量子点电视','Redmi 智能电视 X系列',
        '小米电视大师 82英寸','小米电视5 Pro 65英寸','小米电视5 55英寸','小米全面屏电视E43K','金属全面屏电视','小米盒子',
        '大师电视 65英寸 OLED','小米电视5 Pro 75英寸','小米电视4A 60英寸','Redmi 智能电视 X55','小米全面屏电视','电视音响',
        'Redmi 智能电视 MAX98','小米电视5 75英寸','小米电视4A 70英寸','小米电视4S 75英寸','小米壁画电视','激光投影电视'
        ],
        bannerMobile: [
        '小米11','小米10至尊纪念版','小米10青春版','Redmi','小米10','小米云服务',
        'Redmi K 30 Pro 变焦版','Redmi K30 5G','Redmi K30至尊纪念版','Redmi 10X Pro','Redmi 10X 5G','Redmi 10X 4G',
        'Redmi Note 9 Pro','Redmi Note 9 5G','Redmi Note 8 Pro','Redmi Note 8','手机上门维修','Redmi 9',
        'Redmi 9A','Redmi 8','Redmi 8A','腾讯黑鲨游戏手机','中国移动','中国电信'
        ],
        bannerF: [
        '冰箱','立式空调','壁挂空调','滚筒洗衣机','Redmi全自动波轮洗衣机','净水器',
        '微波炉','电烤箱','扫地机器人','吸尘器','空气净化器','电饭煲',
        '电磁炉','电水壶','滤水壶','落地风扇','投影仪','灯具',
        '插线板','新风机','电暖器','电压力锅','料理机','破壁机'
        ],
        bannerPC: [
        'Redmi G 游戏本','RedmiBook Air 13','RedmiBook 16','RedmiBook 14','小米笔记本Pro 15.6','RedmiBook 13',
        '小米笔记本 Air 13.3','小米笔记本 Air 12.5','小米游戏本','小米显示器34英寸','小米显示器27英寸','Redmi显示器23.8英寸',
        '键鼠套装','鼠标','转接器','充电器'
        ],
        bannerEar: [
        '小爱音箱 Art 电池板','小爱触屏音箱Pro 8','Redmi小爱触屏音箱 8','小爱音箱Pro','小米小爱音箱','小米小爱触屏音箱',
        'Redmi音箱','小米小爱音箱 Play','线控耳机','蓝牙耳机','头戴耳机','品牌耳机',
        '蓝牙音箱','小米AI音箱','小米小爱音箱','k歌耳机',
        ],
        bannerBag: [
        '小背包','双肩包','胸包','旅行箱','运动鞋','眼睛',
        '床垫','枕头','饰品','螺丝刀','保温杯','驱蚊器',
        '毛巾','牙刷','米兔','笔',
        ],
        mianList: ['小米秒杀','企业团购','F码通道','米粉卡','以旧换新','话费充值']
      },
    })
  </script>
</body>
</html>